
<ion-content>
  <ion-toolbar color="primary">
  <ion-back-button color="dark" class="save-button" defaultHref="/inicio" routerLink="/inicio" routerLinkActive="active-route">
  </ion-back-button>
</ion-toolbar>
  <!-- <ion-img class="timg"  src="assets/img/logonovo.png"></ion-img> -->


  <ion-item>
    <ion-label color="medium"> <ion-icon slot="start" name="id-card"></ion-icon> Nome:</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label color="medium"> <ion-icon slot="start" name="id-card"></ion-icon> Sobrenome:</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label color="medium"> <ion-icon name="person-outline"></ion-icon> Nome de usuário:</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label color="medium"> <ion-icon name="calendar-number-outline"></ion-icon> Data de nascimento:</ion-label>
    <ion-datetime display-format="DD/MM/YYYY"></ion-datetime>
  </ion-item>

  <ion-item>
    <ion-label color="medium"> <ion-icon slot="start" name="at-outline"></ion-icon> E-mail:</ion-label>
    <ion-input type="email" placeholder="E-mail" [(ngModel)]="userRegister.email" ></ion-input>
  </ion-item>

  <!-- <ion-item>
    <ion-label color="medium"> <ion-icon slot="start" name="at-outline"></ion-icon> Confirme seu E-mail:</ion-label>
    <ion-input></ion-input>
  </ion-item> -->

  <ion-item >
    <ion-label color="medium" > <ion-icon  slot="start" name="eye-off-outline"></ion-icon> Senha:</ion-label>
    <ion-input type="password" placeholder="Senha" [(ngModel)]="userRegister.password"></ion-input>
  </ion-item>

  <!-- <ion-item >
    <ion-label color="medium" > <ion-icon  slot="start" name="eye-off-outline"></ion-icon> Confirme sua senha:</ion-label>
    <ion-input type="password"></ion-input>
  </ion-item> -->

  <ion-col class="check">
    <ion-checkbox></ion-checkbox>
  </ion-col>


  <ion-col class="termos">
    <ion-button  fill="clear" routerLink="/termos1" routerLinkActive="active-route">
      <ion-text color="primary" class="size">
       Termos de uso
      </ion-text>
    </ion-button>
  </ion-col>

  <ion-button (click)="register()" size="block" class="cadastrar" routerLink="/tabs" routerLinkActive="active-route">
    Finalizar cadastro
  </ion-button>

  
</ion-content>
