
<ion-content>
  <ion-toolbar color="primary">
  <ion-back-button color="dark" class="save-button" defaultHref="/inicio" routerLink="/inicio" routerLinkActive="active-route">
  </ion-back-button>
</ion-toolbar>
  <ion-img class="timg"  src="assets/img/logonovo.png"></ion-img>


  <ion-item>
    <ion-label color="medium"> <ion-icon slot="start" name="id-card"></ion-icon> Nome:</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label color="medium"> <ion-icon slot="start" name="balloon"></ion-icon> Data de nascimento:</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label color="medium"> <ion-icon slot="start" name="at-outline"></ion-icon> Email:</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item >
    <ion-label color="medium" > <ion-icon  slot="start" name="eye-off-outline"></ion-icon> Senha:</ion-label>
    <ion-input type="password"></ion-input>
  </ion-item>

  <ion-item >
    <ion-label color="medium" > <ion-icon  slot="start" name="eye-off-outline"></ion-icon> Confirme sua senha:</ion-label>
    <ion-input type="password"></ion-input>
  </ion-item>

  <ion-button (click)="onClick()" size="block" class="cadastrar" routerLink="/tabs" routerLinkActive="active-route">
    Finalizar cadastro
  </ion-button>

</ion-content>
