<!-- COMMIT WESLLEY INICIO -->

<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Suporte</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-back-button color="dark" class="save-button" defaultHref="/tabs/tab3" routerLink="/tabs/tab3" routerLinkActive="active-route">
  </ion-back-button>

  <ion-item>
    <ion-label>E-mail:</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Telefone:</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label  position="start">Descreva seu problema:</ion-label>
    <ion-textarea  class="tamanho"></ion-textarea>
  </ion-item>

  <ion-button  (click)="showAlertSucesso()" size="block" class="cadastrar" >
    Enviar ticket
  </ion-button>


  <ion-col class="format">
<div>Desbravando Receitas</div>
  </ion-col>
<ion-col class="direito">
  <div>Todos os direitos reservados ©</div>
</ion-col>

<ion-col class="sac">
  <div>SAC: 0800-777-2000</div>
</ion-col>



</ion-content>

<!-- COMMIT WESLLEY FIM -->