<ion-header>
  <ion-toolbar>
    <ion-title>suporte</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-back-button color="dark" class="save-button" defaultHref="/tabs/tab3">
  </ion-back-button>

  <ion-item>
    <ion-label>E-mail</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Telefone</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label class="bg" position="start">Descreva seu problema</ion-label>
    <ion-textarea  class="tamanho"></ion-textarea>
  </ion-item>

<ion-row>
  <ion-col class="format">
<div>Desbravando Receitas</div>
  </ion-col>
<i-col class="direito">
  <div>Todos os direitos reservados ©</div>
</i-col>

<i-col class="sac">
  <div>SAC: 0800-777-2000</div>
</i-col>

</ion-row>

</ion-content>
