.tamanho{
    height: 150px;
}

.format{
    margin-top: 250px;
    margin-left: 33%;
    font-size: small;
    color: gray;
}

.direito{
    margin-top: 3px;
    margin-left: 28%;
    font-size: small;
    color: gray;
}
.sac{
    margin-top: 3px;
    margin-left: 35%;
    font-size: small;
    color: gray;
}