<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">
      Perfil
    </ion-title>
  </ion-toolbar>
  <ion-back-button color="dark" class="save-button" defaultHref="/av" routerLink="/av" routerLinkActive="active-route">
  </ion-back-button>
</ion-header>

<ion-content >
<ion-avatar class="img">
  <img src="https://randomuser.me/api/portraits/women/42.jpg" />
</ion-avatar>

<ion-card>
  <ion-card-header>
    <ion-card-subtitle>Nome completo</ion-card-subtitle>
    <ion-card-title>Anne Thompson</ion-card-title>
    <ion-card-subtitle>25 Anos, Nova Iorque</ion-card-subtitle>
    <ion-card-subtitle>EUA</ion-card-subtitle>
    
  </ion-card-header>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-subtitle>Hobbie</ion-card-subtitle>
    <ion-card-title>Aprecio boa comida em restaurantes diferenciados</ion-card-title>
  </ion-card-header>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-subtitle>Fotos</ion-card-subtitle>
    <div class="card">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTEqd_mgfJRvXvZJc7F7A_Ng6EM9TQbvAokig&usqp=CAU"/>
    </div>
  </ion-card-header>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-subtitle>Avaliações</ion-card-subtitle>
    <ion-card-subtitle>50 avaliações</ion-card-subtitle>
    
    <ion-badge  color="primary" class="star">
      <ion-icon name="star"></ion-icon>
      <ion-icon name="star"></ion-icon>
      <ion-icon name="star"></ion-icon>
      <ion-icon name="star"></ion-icon>
      <ion-icon name="star-half"></ion-icon>
    </ion-badge>

    

  </ion-card-header>

</ion-card>



