<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">
      Perfil
    </ion-title>
  </ion-toolbar>
  <ion-back-button color="dark" class="save-button" defaultHref="/av" routerLink="/av" routerLinkActive="active-route">
  </ion-back-button>
</ion-header>

<ion-content >
<ion-avatar class="img">
  <img src="https://i.pravatar.cc/150?img=59"/>
</ion-avatar>

<ion-card>
  <ion-card-header>
    <ion-card-subtitle>Nome completo</ion-card-subtitle>
    <ion-card-title>Junior Freitas</ion-card-title>
    <ion-card-subtitle>40 Anos, Rio Grande do Norte</ion-card-subtitle>
    <ion-card-subtitle>Brasil</ion-card-subtitle>

  </ion-card-header>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-subtitle>Hobbie</ion-card-subtitle>
    <ion-card-title>Assistir programas de culinária</ion-card-title>
  </ion-card-header>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-subtitle>Fotos</ion-card-subtitle>
    <div class="card">
    <img src="https://www.feeljoy.com.br/image/catalog/file-st-peter-grelhado-sal.jpg"/>
    </div>
  </ion-card-header>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-subtitle>Avaliações</ion-card-subtitle>
    <ion-card-subtitle>28 avaliações</ion-card-subtitle>

    <ion-badge  color="primary" class="star">
      <ion-icon name="star"></ion-icon>
      <ion-icon name="star"></ion-icon>
      <ion-icon name="star"></ion-icon>
      <ion-icon name="star"></ion-icon>
      <ion-icon name="star-half"></ion-icon>
    </ion-badge>



  </ion-card-header>

</ion-card>



