<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center"> 
      Termos de uso
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-back-button color="dark" class="save-button" defaultHref="/cadastro" routerLink="/cadastro" routerLinkActive="active-route">
</ion-back-button>

<ion-content>

<ion-card>
  <ion-card-header>
    
    <ion-card-title>Termos gerais de uso</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    1. O USUÁRIO declara e concorda expressamente:
a) ser maior de 16 anos;<br>
b) não utilizar os serviços objeto do presente Termo para quaisquer transações ilícitas e/ou serviços ilícitos;<br>
c) manter o sigilo de seu LOGIN e SENHA da conta cadastrada, não os fornecendo a terceiros;<br>
d) notificar imediatamente a DESBRAVANDO RECEITAS caso tome ciência de qualquer violação de segurança relacionada ao serviço ou uso não autorizado de seu nome de USUÁRIO e SENHA;<br>
e) que reconhece que o presente TERMO se formaliza, vinculando as Partes, com a sua aceitação eletrônica pelo USUÁRIO, o que se fará mediante o clique no botão “Aceito”;<br>
f) que leu e está ciente e de pleno acordo com todos os termos e condições do presente TERMO, razão pela qual o aceita de livre e espontânea vontade;<br>
g) que as informações prestadas serão verdadeiras, exatas, atuais e completas, e que deverão ser mantidas atualizadas durante sua permanência como USUÁRIO, sendo o USUÁRIO único responsável por tais informações declaradas, razão pela qual a DESBRAVANDO RECEITAS não se responsabiliza pela veracidade e/ou exatidão dessas informações;<br>
h) que na hipótese de vir a ser identificada informação incorreta, inverídica ou não validada, assim como em caso de negativa do USUÁRIO em corrigir ou comprovar com documentação a validade da informação, a DESBRAVANDO RECEITAS fica desde já autorizada a não concluir o cadastramento em curso ou até mesmo excluir ou bloquear um cadastro já existente, impedindo o USUÁRIO de acessar a plataforma eletrônica e utilizar os serviços, até que a situação reputada atípica seja regularizada;<br>
i) que assume toda e qualquer responsabilidade pelo mau uso ou pela utilização do LOGIN e SENHA por terceiros;<br>
j) aceita e declara compreender que qualquer texto, marca, áudio, imagem, ou conteúdo veiculados nos websites www.desbravandoreceitas, https://desbravando.receitas.com.br e no aplicativo da Desbravando Receitas para celulares iOS e Android, conforme apresentadas pela DESBRAVANDO RECEITAS. são protegidos por direitos de propriedade intelectual razão pela qual não podem ser copiados, reproduzidos, divulgados ou simplesmente publicados em nenhuma hipótese, salvo se expressamente autorizado pelo respectivo<br>
detentor dos referidos direitos, sob as penas da lei;<br>
k) aceita e declara compreender que a DESBRAVANDO RECEITAS poderá disponibilizar em seu endereço eletrônico, links de acesso para outros websites e endereços virtuais, sem qualquer responsabilidade pelos serviços ou funcionalidades ali dispostos, sendo a decisão de utilização e a forma de relacionamento de exclusiva responsabilidade do USUÁRIO, que inclusive isenta a DESBRAVANDO RECEITAS de fiscalizar o conteúdo ou zelar pela integridade de tais websites ou endereços virtuais;<br>
l) A DESBRAVANDO RECEITAS poderá alterar livremente, mediante comunicação endereçada a todos os USUÁRIOS, as funcionalidades disponibilizadas em sua plataforma eletrônica, incluindo funcionalidades de acordo com o plano contratado pelo USUÁRIO;<br>
m) que, na hipótese de disponibilização de receitas ao USUÁRIO, a DESBRAVANDO RECEITAS não poderá ser responsabilizada por quaisquer informações obtidas nesse sentido, assim como por qualquer decisão ou negócio realizado pelo USUÁRIO ou por terceiros com base em tais receitas. O USUÁRIO se declara plena e expressamente ciente de que tais receitas são fornecidas por terceiros, não havendo nenhuma responsabilidade da DESBRAVANDO RECEITAS, que não responde por qualquer prejuízo eventualmente experimentado pelo USUÁRIO. O USUÁRIO se declara plena e expressamente ciente, ainda, que quaisquer informações sobre receitas estão sujeitas a erros, oscilações e a outras formas de imperfeições, assim como que há diversas receitas em tempo real e há receitas com defasagem, a DESBRAVANDO RECEITAS não poderá ser responsabilizada por quaisquer decisão ou negócio que não poderá dar certo.<br>

  </ion-card-content>
</ion-card>

</ion-content>
