<!-- COMMIT VICTOR INICIO -->

<ion-header>
  
<ion-toolbar>
  <ion-title class="ion-text-center"> 
    Avaliações
  </ion-title>
  </ion-toolbar> 
</ion-header>



<ion-back-button color="dark" class="save-button" defaultHref="/tabs/tab3" routerLink="/tabs/tab3" routerLinkActive="active-route">
</ion-back-button>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-grid>
      <ion-row>
      <ion-col size="auto">
      <ion-avatar>
      <img src="https://i.pravatar.cc/150?img=60"/>
      </ion-avatar>
      </ion-col>
    
      <ion-col>
      <ion-badge  color="primary" >
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
      </ion-badge>
      <ion-card-title>Victor dos Santos</ion-card-title>
      <ion-card-subtitle>Brasil</ion-card-subtitle>
      </ion-col>
      </ion-row>
      </ion-grid>
    </ion-card-header>
    <ion-card-content>
      Muito boas receitas, fáceis de fazer e bem objetivas.
    </ion-card-content>
    <ion-button  expand="block" fill="clear" shape="round" routerLink="/perfil1" routerLinkActive="active-route">
      Ver Perfil
    </ion-button>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-grid>
      <ion-row>
      <ion-col size="auto">
      <ion-avatar>
      <img src="https://randomuser.me/api/portraits/women/83.jpg"/>
      </ion-avatar>
      </ion-col>
    
      <ion-col>
      <ion-badge  color="primary" >
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
      </ion-badge>
      <ion-card-title>Sheyla Mello</ion-card-title>
      <ion-card-subtitle>Brasil</ion-card-subtitle>
      </ion-col>
      </ion-row>
      </ion-grid>
    </ion-card-header>
    <ion-card-content>
      Nenhum feedback respondido.
    </ion-card-content>
    <ion-button  expand="block" fill="clear" shape="round" routerLink="/perfil2" routerLinkActive="active-route">
      Ver Perfil
    </ion-button>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-grid>
      <ion-row>
      <ion-col size="auto">
      <ion-avatar>
      <img src="https://randomuser.me/api/portraits/men/5.jpg"/>
      </ion-avatar>
      </ion-col>
    
      <ion-col>
      <ion-badge  color="primary" >
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
      </ion-badge>
      <ion-card-title>Javier Perez</ion-card-title>
      <ion-card-subtitle>Argentina</ion-card-subtitle>
      </ion-col>
      </ion-row>
      </ion-grid>
    </ion-card-header>
    <ion-card-content>
      Receitas um pouco complicadas, e temperos difíceis de encontrar.
    </ion-card-content>
    <ion-button  expand="block" fill="clear" shape="round" routerLink="/perfil3" routerLinkActive="active-route">
      Ver Perfil
    </ion-button>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-grid>
      <ion-row>
      <ion-col size="auto">
      <ion-avatar>
      <img src="https://randomuser.me/api/portraits/men/44.jpg"/>
      </ion-avatar>
      </ion-col>
    
      <ion-col>
      <ion-badge  color="primary" >
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
      </ion-badge>
      <ion-card-title>Elias Oliveira</ion-card-title>
      <ion-card-subtitle>Brasil</ion-card-subtitle>
      </ion-col>
      </ion-row>
      </ion-grid>
    </ion-card-header>
    <ion-card-content>
      Não achei nenhum dos ingredientes das receitas postadas.
    </ion-card-content>
    <ion-button  expand="block" fill="clear" shape="round" routerLink="/perfil4" routerLinkActive="active-route">
      Ver Perfil
    </ion-button>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-grid>
      <ion-row>
      <ion-col size="auto">
      <ion-avatar>
      <img src="https://randomuser.me/api/portraits/men/83.jpg"/>
      </ion-avatar>
      </ion-col>
    
      <ion-col>
      <ion-badge  color="primary" >
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star-half"></ion-icon>
      </ion-badge>
      <ion-card-title>Adam Becker </ion-card-title>
      <ion-card-subtitle>Alemanha</ion-card-subtitle>
      </ion-col>
      </ion-row>
      </ion-grid>
    </ion-card-header>
    <ion-card-content>
      Nenhum feedback respondido.
    </ion-card-content>
    <ion-button  expand="block" fill="clear" shape="round" routerLink="/perfil5" routerLinkActive="active-route">
      Ver Perfil
    </ion-button>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-grid>
      <ion-row>
      <ion-col size="auto">
      <ion-avatar>
      <img src="https://randomuser.me/api/portraits/women/42.jpg"/>
      </ion-avatar>
      </ion-col>
    
      <ion-col>
      <ion-badge  color="primary" >
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
      </ion-badge>
      <ion-card-title>Anne Thompson</ion-card-title>
      <ion-card-subtitle>EUA</ion-card-subtitle>
      </ion-col>
      </ion-row>
      </ion-grid>
    </ion-card-header>
    <ion-card-content>
      i love brazilian food, and i loved your recipes.
    </ion-card-content>
    <ion-button  expand="block" fill="clear" shape="round" routerLink="/perfil6" routerLinkActive="active-route">
      Ver Perfil
    </ion-button>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-grid>
      <ion-row>
      <ion-col size="auto">
      <ion-avatar>
      <img src="https://randomuser.me/api/portraits/women/22.jpg"/>
      </ion-avatar>
      </ion-col>
    
      <ion-col>
      <ion-badge  color="primary" >
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star-half"></ion-icon>
      </ion-badge>
      <ion-card-title>Carmen garcia</ion-card-title>
      <ion-card-subtitle>Espanha</ion-card-subtitle>
      </ion-col>
      </ion-row>
      </ion-grid>
    </ion-card-header>
    <ion-card-content>
      Amo mucho la cocina brasileña.
    </ion-card-content>
    <ion-button  expand="block" fill="clear" shape="round" routerLink="/perfil7" routerLinkActive="active-route">
      Ver Perfil
    </ion-button>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-grid>
      <ion-row>
      <ion-col size="auto">
      <ion-avatar>
      <img src="https://randomuser.me/api/portraits/women/41.jpg"/>
      </ion-avatar>
      </ion-col>
    
      <ion-col>
      <ion-badge  color="primary" >
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star-half"></ion-icon>
      </ion-badge>
      <ion-card-title>Andressa Silva</ion-card-title>
      <ion-card-subtitle>Brasil</ion-card-subtitle>
      </ion-col>
      </ion-row>
      </ion-grid>
    </ion-card-header>
    <ion-card-content>
      Nenhum feedback respondido.
    </ion-card-content>
    <ion-button  expand="block" fill="clear" shape="round" routerLink="/perfil8" routerLinkActive="active-route">
      Ver Perfil
    </ion-button>
  </ion-card>

  <!-- <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Carregando...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll> -->

</ion-content>

<!-- COMMIT VICTOR FIM -->