<ion-header [translucent]="true">
  <ion-toolbar  color="primary">
      <ion-title class="ion-text-center">
        Nova receita
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
      <ion-item>
        <ion-label color="medium"> <ion-icon slot="start" name="book"></ion-icon> Nome da receita:</ion-label>
        <ion-input></ion-input>
      </ion-item>
   
  <ion-item >
    <ion-label class="bg" position="start" color="medium"><ion-icon slot="start" name="receipt"></ion-icon> Ingredientes:</ion-label>
    <ion-textarea ></ion-textarea>
  </ion-item>

  <ion-item >
    <ion-label class="bg" position="start" color="medium"><ion-icon slot="start" name="hourglass"></ion-icon> Modo de preparo:</ion-label>
    <ion-textarea ></ion-textarea>
  </ion-item>
  
<ion-card-subtitle  class="ion-text-center" class="enviar">Enviar foto</ion-card-subtitle>

  <ion-button expand="block">
    <ion-icon lazy="true"></ion-icon>
    <ion-label></ion-label>
    <input type="file" (change)="loadImageFromDevice($event)" id="file-input"
    accept="image/png, image/jpeg">
  </ion-button>
   
  <ion-card-subtitle  class="ion-text-center" class="postar">Postar</ion-card-subtitle>
  
  <ion-row>
    <ion-col>
      <ion-button size="block" (click)="onClick()" routerLink="/tabs/tab1" routerLinkActive="active-route">
        <ion-icon slot="icon-only" name="checkmark-done"></ion-icon>
      </ion-button>
    </ion-col>

    <ion-col>
      <ion-button size="block" (click)="onClick()" color="danger" routerLink="/tabs/tab1" routerLinkActive="active-route" >
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>

  
  <ion-col class="check">
    <ion-checkbox></ion-checkbox>
  </ion-col>


  <ion-col class="termos">
    <ion-button (click)="onClick()" fill="clear" routerLink="/termos" routerLinkActive="active-route">
      <ion-text color="primary" class="size">
       Termos de uso
      </ion-text>
    </ion-button>
  </ion-col>
  
</ion-content>