.size{
    font-size: 10px;
}

.bg{
    
    height: 100px;
}

.enviar{
    margin-top: 20px;
    margin-left: 39%;
    margin-bottom: 20px;
    font-size: large;
}

.postar{
    margin-top: 20px;
    margin-left: 43%;
    margin-bottom: 20px;
    font-size: large;
}
