<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">
      Desbravando Receitas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-item>
    <ion-label position="floating"> <ion-icon slot="start" name="search"></ion-icon>  Faca uma pesquisa</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>há 43 segundos</ion-card-subtitle>
      <ion-grid>
        <ion-row>
          
          <ion-col size="auto">
            <ion-avatar>
              <img src="https://i.pravatar.cc/150?img=60" />
            </ion-avatar>
          </ion-col>
          <ion-col >
                <ion-badge  color="primary" >
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star-half"></ion-icon>
                </ion-badge>
                <ion-card-title>Sebastião Hermínia</ion-card-title>
                <ion-card-subtitle>Turquia</ion-card-subtitle>
              </ion-col>
           </ion-row>
      </ion-grid>
    </ion-card-header>
    <ion-card-content>
      <ion-text>
        <h1 class="size">Torta de frango</h1>
      </ion-text>
      Recheio:<br>
      -500 g de peito de frango sem pele<br>
      -1/2 litro de caldo de galinha<br>
      -4 colheres (sopa) de óleo...
    </ion-card-content>
    <ion-button (click)="onClick()" expand="block" fill="clear" shape="round" routerLink="/vermais1" routerLinkActive="active-route">
      Ver mais
    </ion-button>
  </ion-card>


  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>há 59 segundos</ion-card-subtitle>
      <ion-grid>
        <ion-row>
          <ion-col size="auto">
            <ion-avatar>
              <img src="https://i.pravatar.cc/150?img=59" />
            </ion-avatar>
          </ion-col>
          <ion-col >
            <ion-badge  color="primary" >
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star-half"></ion-icon>
              <ion-icon name="star-outline"></ion-icon>
            </ion-badge>
            <ion-card-title>Junior Freitas</ion-card-title>
            <ion-card-subtitle>Brasil</ion-card-subtitle>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-header>
    <ion-card-content>
      <ion-text>
        <h1 class="size">Coxinha vegana</h1>
      </ion-text>
      Recheio:<br>
      -1 colher de chá de curry<br>
      -Sal a gosto<br>
      -Mix de pimentas moídas a gosto...
      
    </ion-card-content>
    <ion-button (click)="onClick()" expand="block" fill="clear" shape="round" routerLink="/vermais2" routerLinkActive="active-route">
      Ver mais
    </ion-button>
  </ion-card>


  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>há 1 minuto</ion-card-subtitle>
      <ion-grid>
        <ion-row>
          <ion-col size="auto">
            <ion-avatar>
              <img src="https://i.pravatar.cc/150?img=58" />
            </ion-avatar>
          </ion-col>
          <ion-col >
            <ion-badge  color="primary" >
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star-outline"></ion-icon>
              <ion-icon name="star-outline"></ion-icon>
            </ion-badge>
            <ion-card-title>Pedro Hernanes</ion-card-title>
            <ion-card-subtitle>Argentina</ion-card-subtitle>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-header>
    <ion-card-content>
      <ion-text>

        <h1 class="size" >Paella</h1>
      </ion-text>
      Recheio:<br>
      -3 xícaras de arroz (agulhinha ou arbório) sem lavar<br>
      -300 g filés de camarões médios<br>
      -200 g de camarões grandes inteiros (ou lagostins)...
      
    </ion-card-content>
    <ion-button (click)="onClick()" expand="block" fill="clear" shape="round" routerLink="/vermais3" routerLinkActive="active-route">
      Ver mais
    </ion-button>
  </ion-card>


  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>há 4 minutos</ion-card-subtitle>
      <ion-grid>
        <ion-row>
          <ion-col size="auto">
            <ion-avatar>
              <img src="https://i.pravatar.cc/150?img=45" />
            </ion-avatar>
          </ion-col>
          <ion-col >
            <ion-badge  color="primary" >
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
            </ion-badge>
            <ion-card-title>Bianca Barros</ion-card-title>
            <ion-card-subtitle>Brasil</ion-card-subtitle>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-header>
    <ion-card-content>
      <ion-text>
        <h1 class="size">Feijoada</h1>
      </ion-text>
      Recheio:<br>
      -1,1 kg de costela de porco salgada (1 peça com 12 ripas)<br>
      -800 g de carne-seca<br>
      -600 g de lombo de porco salgado...
    </ion-card-content>
    <ion-button (click)="onClick()" expand="block" fill="clear" shape="round" routerLink="/vermais4" routerLinkActive="active-route" >
      Ver mais
    </ion-button>
  </ion-card>

</ion-content>
