<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">
      Perfil
    </ion-title>
  </ion-toolbar>
  <ion-back-button color="dark" class="save-button" defaultHref="/vermais4" routerLink="/vermais4" routerLinkActive="active-route">
  </ion-back-button>
</ion-header>

<ion-content >
<ion-avatar class="img">
  <img src="https://i.pravatar.cc/150?img=45"/>
</ion-avatar>

<ion-card>
  <ion-card-header>
    <ion-card-subtitle>Nome completo</ion-card-subtitle>
    <ion-card-title>Bianca Barros</ion-card-title>
    <ion-card-subtitle>27 Anos, São Paulo</ion-card-subtitle>
    <ion-card-subtitle>Brasil</ion-card-subtitle>

  </ion-card-header>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-subtitle>Hobbie</ion-card-subtitle>
    <ion-card-title>Gosto de ler comentários de avaliações</ion-card-title>
  </ion-card-header>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-subtitle>Fotos</ion-card-subtitle>
    <div class="card">
    <img src="https://img.itdg.com.br/tdg/images/recipes/000/002/998/324387/324387_original.jpg?mode=crop&width=710&height=400"/>
    </div>
  </ion-card-header>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-subtitle>Avaliações</ion-card-subtitle>
    <ion-card-subtitle>08 Avaliações</ion-card-subtitle>

    <ion-badge  color="primary" class="star">
      <ion-icon name="star"></ion-icon>
      <ion-icon name="star"></ion-icon>
      <ion-icon name="star"></ion-icon>
      <ion-icon name="star"></ion-icon>
      <ion-icon name="star-half"></ion-icon>
    </ion-badge>



  </ion-card-header>

</ion-card>



