<!-- COMMIT WESLLEY INICIO -->

<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">
      Configuracoes
    </ion-title>
  </ion-toolbar>
  <ion-back-button color="dark" class="save-button" defaultHref="/tabs/tab3" routerLink="/tabs/tab3" routerLinkActive="active-route">
  </ion-back-button>
</ion-header>

<ion-content >
<ion-avatar class="img">
  <img src="https://i.pravatar.cc/150?img=12" />
  
</ion-avatar>



<ion-card>
  <ion-card-header>
    <ion-button  size="small">
      <ion-icon  name="options"></ion-icon>
    </ion-button>
    <ion-card-subtitle>Nome completo</ion-card-subtitle>
    <ion-card-title>Bruno Garcia Lima</ion-card-title>
  </ion-card-header>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-button  size="small">
      <ion-icon  name="options"></ion-icon>
    </ion-button>
    <ion-card-subtitle>Usuário</ion-card-subtitle>
    <ion-card-title>Bruno_Garcia</ion-card-title>
  </ion-card-header>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-button  size="small">
      <ion-icon  name="options"></ion-icon>
    </ion-button>
    <ion-card-subtitle>Idade</ion-card-subtitle>
    <ion-card-title>22</ion-card-title>
  </ion-card-header>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-button  size="small">
      <ion-icon  name="options"></ion-icon>
    </ion-button>
    <ion-card-subtitle>País</ion-card-subtitle>
    <ion-card-title>Brasil</ion-card-title>
  </ion-card-header>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-button  size="small">
      <ion-icon  name="options"></ion-icon>
    </ion-button>
    <ion-card-subtitle>Hobbie</ion-card-subtitle>
    <ion-card-title>Viajar e conhecer pratos tipicos de outras culturas</ion-card-title>
  </ion-card-header>
</ion-card>



</ion-content>

<!-- COMMIT WESLLEY FIM -->