
    .background-image {
        --background:  url('../../assets/img/azul.jpg') no-repeat center center / cover !important;
        filter: blur(2px);
       position: absolute;
    }

    #logo{
        position: fixed;
        
    }
    #teste{
        margin-top: 75%;    
        
    }

    .login{
        
    }

.entrar{
    width: 180px;
    margin-left: 115px;
    margin-top: 30px;
    filter: none !important;
    
}

.cadastrar{
        width: 180px;
        margin-left: 115px;
        margin-top: 10px;
        
    
}


