

<ion-content>
<ion-img src="assets/img/logo.png"></ion-img>

<div style="height: 10%; display: flex; align-items: center; justify-content: center;">
  <ion-card>
      <ion-input placeholder="Login"></ion-input>
      <ion-input type="password" placeholder="Senha"></ion-input>
  </ion-card>
</div>
<ion-button (click)="onClick()" size="block" class="entrar" routerLink="/tabs/tab1" routerLinkActive="active-route">
  entrar
</ion-button>

<ion-button (click)="onClick()" size="block" class="cadastrar" routerLink="/cadastro" routerLinkActive="active-route">
  cadastro
</ion-button>
</ion-content>
